/* font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* variables */
:root {
    /* colors */
    --bg-color: hsl(217, 54%, 11%);
    --card-color: hsl(216, 50%, 16%);
    --text-color: hsl(215, 51%, 70%);
    --title-avatar-color: #ffffff;
    --hover-color: hsl(178, 100%, 50%);
    --line-color: hsl(215, 32%, 27%);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: var(--bg-color);
}

/* container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* card */
.card {
    background: var(--card-color);
    padding: 1.5rem;
    width: 20rem;
    height: 32.3rem;
    border-radius: 1rem;
    box-shadow: 0px 20px 7px 13px #080f1a75;
}

.card-image {
    position: relative;
}

.card-image img {
    width: 100%;
    object-fit: cover;
    height: 17rem;
    border-radius: 0.5rem;
}


/* view image */
.view-image {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 45%);
    width: 100%;
    height: 17rem;
    border-radius: 0.5rem;
    opacity: 0;
}

.view-image:hover {
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

.view-image img {
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

/* texts */
.card h2 {
    color: var(--title-avatar-color);
    margin-top: 1.3rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.card h2:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.card p {
    color: var(--text-color);
    font-weight: 300;
    line-height: 1.44rem;
}

.eth {
    font-weight: 400;
    color: var(--hover-color);
}

.clock {
    font-weight: 400;
    color: var(--text-color);
}

/* icons */

.icons {
    margin: 1rem 0 1rem 0;
}

.icons ul {
    display: flex;
    justify-content: space-between;
}

.icons ul li {
    display: flex;
    gap: 0.3rem;
}

.icons ul li img {
    align-items: center;
}

/* user */
.user {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    margin-top: 0.9rem;
}

.user img {
    width: 2rem;
    border-radius: 50%;
    border: 1px solid var(--title-avatar-color);
}

.user p {
    font-weight: 300;
    font-size: 0.9rem;
}

.user p span {
    color:var(--title-avatar-color);
}

.user p span:hover {
    color: var(--hover-color);
    cursor: pointer;
}

/* misc */
.line {
    border-bottom: 1px solid var(--line-color);
}

/* attribution */
.attribution {
    text-align: center;
    padding-bottom: 1.25rem;
    font-size: 0.85rem;
    font-weight: 300;
    color: var(--text-color);
}

.attribution a {
    color: var(--title-avatar-color);
}

.attribution a:hover {
    color: var(--hover-color);
}
